@page
@model edtalk.Pages.IndexModel
@{
    ViewData["Title"] = "Home";
}
<div class="container splash">
    <div class="center-block text-center">
        <partial name="_IndexLoginPartial" />
    </div>
</div>