@page
@model edtalk.Pages.IndexModel
@{
    ViewData["Title"] = "Home";
}
<div class="mdl-grid">
    <div class="mdl-layout-spacer"></div>
    <div class="mdl-cell mdl-cell--4-col">
        <h1 class="headerText">edtalk.io</h1>
        <h1 class="subHeaderText">a simple classroom communication platform for the modern student and educator</h1>
    </div>
    <div class="mdl-layout-spacer"></div>
    <div class="mdl-layout-spacer"></div>
</div>