<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="A front-end template that helps you build fast, modern mobile web apps.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>@ViewData["Title"] - EdTalk</title>

    <link rel="apple-touch-icon" sizes="180x180" href="~/fav/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/fav/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/fav/favicon-16x16.png">
    <link rel="manifest" href="~/fav/site.webmanifest">
    <link rel="mask-icon" href="~/fav/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="theme-color" content="#ffffff">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="~/css/site.css">
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/css/animate.css" rel="stylesheet">


</head>

<body>
    

    @RenderBody()


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="~/js/bootstrap.min.js"></script>

    @RenderSection("Scripts", required: false)
    
</body>
</html>
